a.underline {
  position: relative;
  display: inline-block;
}
a.underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #334752;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a.underline:hover::after {
  width: 0;
}

h1, h2, h3, h4 {
  font-weight: 600;
  text-transform: uppercase;
}
h1 > *, h2 > *, h3 > *, h4 > * {
  background: -webkit-gradient(linear, left top, right top, from(#048187), to(#00A7A7));
  background: linear-gradient(90deg, #048187 0%, #00A7A7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  line-height: 1.1em;
  font-size: 24px;
}
@media (min-width: 480px) {
  h1 {
    font-size: calc(0.025 * 100vw + 12px);
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  line-height: 1.3em;
  font-size: 20px;
}
@media (min-width: 480px) {
  h2 {
    font-size: calc(0.0166666667 * 100vw + 12px);
  }
}
@media (min-width: 1440px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  line-height: 1.4em;
  font-size: 18px;
}
@media (min-width: 480px) {
  h3 {
    font-size: calc(0.0125 * 100vw + 12px);
  }
}
@media (min-width: 1440px) {
  h3 {
    font-size: 30px;
  }
}

h4 {
  line-height: 1.5em;
  font-size: 14px;
}
@media (min-width: 480px) {
  h4 {
    font-size: calc(0.0020833333 * 100vw + 13px);
  }
}
@media (min-width: 1440px) {
  h4 {
    font-size: 16px;
  }
}

small, section.about div.contacts div.phone div span, section.about div.contacts div.email div span, section.about div.about div.advantages div.advantage span, section.about div.about div.text, section.main div.representative, a.product_card div.title span.title, div.tag, fieldset.select div.select_list label, fieldset.select div.select_current span, button span, a.button span, input, textarea {
  line-height: 22px;
  font-size: 13px;
}
@media (min-width: 480px) {
  small, section.about div.contacts div.phone div span, section.about div.contacts div.email div span, section.about div.about div.advantages div.advantage span, section.about div.about div.text, section.main div.representative, a.product_card div.title span.title, div.tag, fieldset.select div.select_list label, fieldset.select div.select_current span, button span, a.button span, input, textarea {
    font-size: calc(0.0010416667 * 100vw + 12.5px);
  }
}
@media (min-width: 1440px) {
  small, section.about div.contacts div.phone div span, section.about div.contacts div.email div span, section.about div.about div.advantages div.advantage span, section.about div.about div.text, section.main div.representative, a.product_card div.title span.title, div.tag, fieldset.select div.select_list label, fieldset.select div.select_current span, button span, a.button span, input, textarea {
    font-size: 14px;
  }
}

big, section.about div.about div.advantages div.advantage strong {
  line-height: 27px;
  font-size: 16px;
}
@media (min-width: 480px) {
  big, section.about div.about div.advantages div.advantage strong {
    font-size: calc(0.0020833333 * 100vw + 15px);
  }
}
@media (min-width: 1440px) {
  big, section.about div.about div.advantages div.advantage strong {
    font-size: 18px;
  }
}

input, textarea {
  padding: 12px;
  padding-left: var(--gap);
  background-color: white;
  border-radius: 4px;
  width: 100%;
  border: 1px solid white;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #334752;
  opacity: 0.5;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #334752;
  opacity: 0.5;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #334752;
  opacity: 0.5;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #334752;
  opacity: 0.5;
}
input::placeholder, textarea::placeholder {
  color: #334752;
  opacity: 0.5;
}
input::-webkit-search-cancel-button, textarea::-webkit-search-cancel-button {
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  height: 30px;
  width: 30px;
  margin-right: 30px;
  background: transparent;
  background-image: url(../images/icons/Cross.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
input:hover, textarea:hover {
  border: 1px solid rgba(4, 129, 135, 0.5);
}
input:focus, textarea:focus {
  border: 1px solid #048187;
}

button, a.button {
  cursor: pointer;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
  background-color: #048187;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
button svg path, a.button svg path {
  stroke: white;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
button:hover, a.button:hover {
  background-color: #069da5;
}

fieldset.select {
  position: relative;
  z-index: 1;
}
fieldset.select:hover {
  z-index: 2;
}
fieldset.select div.select_current {
  position: relative;
  cursor: pointer;
  outline: none;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-gap: 10px;
  border-bottom: 1px solid #C6CDD0;
  padding: 8px 0;
}
fieldset.select div.select_current input {
  display: none;
}
fieldset.select div.select_current input:checked + span {
  display: block;
}
fieldset.select div.select_current span {
  display: none;
  width: 100%;
  text-overflow: ellipsis;
}
fieldset.select div.select_current img {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
fieldset.select div.select_current:focus {
  pointer-events: none;
}
fieldset.select div.select_current:focus img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
fieldset.select div.select_current:focus + div.select_list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}
fieldset.select div.select_list {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  opacity: 0;
  -webkit-animation-name: hideList;
          animation-name: hideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
}
fieldset.select div.select_list label {
  width: 100%;
  cursor: pointer;
  display: block;
  padding: 8px 16px;
}
fieldset.select div.select_list label:hover, fieldset.select div.select_list label:focus {
  background-color: #f5f5f5;
}
@-webkit-keyframes hideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes hideList {
  from {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  to {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

div.tag {
  background-color: #048187;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  padding: 6px 15px;
}

div.quantity {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  width: 120px;
  height: 46px;
  border-radius: 4px;
}
@media (max-width: 640px) {
  div.quantity {
    font-size: 16px;
    line-height: 24px;
    width: 100px;
  }
}
div.quantity div.minus {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: var(--small-gap);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
div.quantity div.plus {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: var(--small-gap);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
}
div.quantity input {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: unset;
}
@media (max-width: 640px) {
  div.quantity input {
    font-size: 16px;
    line-height: 24px;
  }
}
div.quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
div.quantity input::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

a.category_card {
  display: grid;
  grid-gap: 20px;
}
a.category_card img {
  width: 100%;
  mix-blend-mode: multiply;
}
a.category_card div.title {
  position: relative;
  padding-top: 15px;
  border-top: 1px solid #C6CDD0;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
a.category_card div.title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #048187;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.category_card:hover div.title {
  color: #048187;
}
a.category_card:hover div.title::before {
  width: 100%;
}

a.product_card {
  position: relative;
  padding: 15px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
a.product_card img.preview {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
a.product_card div.tick {
  position: absolute;
  top: 20px;
  right: 20px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 16px;
  height: 16px;
  background-color: #19CA75;
  border-radius: 50%;
}
a.product_card div.tick svg {
  margin-top: -4px;
  margin-left: -3px;
  width: 24px;
  height: 24px;
}
a.product_card div.tick svg path {
  stroke: white;
}
a.product_card div.title {
  text-align: center;
  position: relative;
  padding-top: 15px;
  border-top: 1px solid #C6CDD0;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
a.product_card div.title span.price {
  display: block;
  font-weight: 700;
}
a.product_card div.title::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #048187;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a.product_card:hover {
  background-color: white;
}
a.product_card:hover div.title::before {
  width: 100%;
}

div.partner {
  padding: 20px;
  border: 1px solid #C6CDD0;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 2fr;
  grid-gap: var(--gap);
}
@media (max-width: 960px) {
  div.partner {
    -ms-flex-line-pack: start;
        align-content: start;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
div.partner img {
  mix-blend-mode: multiply;
  width: 100%;
  max-width: 240px;
}
div.partner div.text {
  display: grid;
  grid-gap: 10px;
}

div.pagination {
  width: 100%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: calc(var(--gap) * 2);
}
@media (max-width: 640px) {
  div.pagination {
    grid-gap: var(--small-gap);
  }
}
div.pagination a {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 4px;
}
@media (max-width: 640px) {
  div.pagination a {
    width: 40px;
    height: 40px;
  }
}
div.pagination a:hover {
  border-color: #C6CDD0;
}
div.pagination a.active {
  background: #048187;
  color: white;
}
div.pagination div.pages {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: 10px;
}
@media (max-width: 640px) {
  div.pagination div.pages {
    grid-gap: unset;
  }
}
div.pagination > *:first-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
div.pagination > *:last-child {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

section.main {
  margin-top: calc(var(--header-height) * -1);
  padding-top: calc(var(--section-gap) * 2 + var(--header-height));
  padding-bottom: calc(var(--section-gap) * 2);
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #C6CDD0;
}
section.main > * {
  z-index: 2;
}
section.main h1 {
  color: white;
}
section.main form.search {
  position: relative;
  width: 100%;
  max-width: 540px;
  margin-top: calc(var(--gap) * 2);
  margin-bottom: var(--gap);
}
section.main form.search button {
  cursor: pointer;
  padding: unset;
  position: absolute;
  top: 50%;
  right: 12px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 0;
}
section.main form.search button svg path, section.main form.search button svg circle {
  stroke: #048187;
}
section.main form.search button:hover svg path, section.main form.search button:hover svg circle {
  stroke: #069da5;
}
section.main form.search.focus.open div.results {
  display: grid;
}
section.main div.representative {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px var(--gap);
  color: white;
}
@media (max-width: 640px) {
  section.main div.representative {
    grid-template-columns: 1fr;
  }
}
section.main div.representative span {
  opacity: 0.5;
}
section.main div.representative div.list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-gap: var(--small-gap);
}
section.main div.representative a.underline::after {
  background-color: white;
}
section.main div.results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  display: none;
  justify-items: start;
  z-index: 4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 0px 30px rgba(51, 71, 82, 0.15);
          box-shadow: 0px 0px 30px rgba(51, 71, 82, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
}
section.main div.results a {
  padding: 5px var(--gap);
}
section.main div.results a:hover {
  color: #048187;
}
section.main div.images {
  grid-column: content;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.main div.images div.image {
  width: 200px;
  height: 200px;
  position: absolute;
  animation-timeline: scroll(root block);
}
@media (max-width: 960px) {
  section.main div.images div.image {
    display: none;
  }
}
section.main div.images div.image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
section.main div.images div.image.first {
  bottom: 50%;
  left: -100px;
  -webkit-animation-name: first;
          animation-name: first;
}
@media (max-width: 1280px) {
  section.main div.images div.image.first {
    bottom: 60%;
  }
}
section.main div.images div.image.second {
  width: 350px;
  height: 350px;
  top: calc(50% + 150px);
  left: -250px;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation-name: second;
          animation-name: second;
}
@media (max-width: 1280px) {
  section.main div.images div.image.second {
    width: 300px;
    height: 300px;
    top: unset;
    bottom: -50px;
    left: 0;
  }
}
section.main div.images div.image.third {
  width: 150px;
  height: 150px;
  bottom: 150px;
  right: calc(50% + 350px);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-animation-name: third;
          animation-name: third;
}
@media (max-width: 1280px) {
  section.main div.images div.image.third {
    width: 100px;
    height: 100px;
    bottom: 300px;
    right: unset;
    left: 0;
  }
}
section.main div.images div.image.fourth {
  bottom: 20px;
  left: 50%;
  -webkit-animation-name: fourth;
          animation-name: fourth;
}
@media (max-width: 1280px) {
  section.main div.images div.image.fourth {
    left: 45%;
    bottom: -50px;
  }
}
section.main div.images div.image.fifth {
  width: 300px;
  height: 300px;
  bottom: -50px;
  right: -100px;
  -webkit-animation-name: fifth;
          animation-name: fifth;
}
@media (max-width: 1280px) {
  section.main div.images div.image.fifth {
    width: 250px;
    height: 250px;
  }
}
section.main div.images div.image.sixth {
  bottom: 50%;
  left: 100%;
  -webkit-animation-name: sixth;
          animation-name: sixth;
}
@media (max-width: 1280px) {
  section.main div.images div.image.sixth {
    left: unset;
    bottom: 60%;
    right: -100px;
  }
}
section.main div.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  grid-column: full;
  z-index: 0;
}
section.main div.background::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(45, 45, 48, 0.7)), to(rgba(22, 22, 27, 0.8)));
  background: linear-gradient(to right, rgba(45, 45, 48, 0.7), rgba(22, 22, 27, 0.8));
}
section.main div.background img {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
@-webkit-keyframes first {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
}
@keyframes first {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
}
@-webkit-keyframes second {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
@keyframes second {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
}
@-webkit-keyframes third {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(70deg);
            transform: translateY(-100px) rotate(70deg);
  }
}
@keyframes third {
  0% {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  100% {
    -webkit-transform: translateY(-100px) rotate(70deg);
            transform: translateY(-100px) rotate(70deg);
  }
}
@-webkit-keyframes fourth {
  0% {
    -webkit-transform: translateY(0) rotate(5deg);
            transform: translateY(0) rotate(5deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translateY(300px) rotate(10deg);
            transform: translateY(300px) rotate(10deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
@keyframes fourth {
  0% {
    -webkit-transform: translateY(0) rotate(5deg);
            transform: translateY(0) rotate(5deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translateY(300px) rotate(10deg);
            transform: translateY(300px) rotate(10deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
}
@-webkit-keyframes fifth {
  0% {
    -webkit-transform: translateY(0) rotate(-5deg);
            transform: translateY(0) rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(-300px) rotate(-15deg);
            transform: translateY(-300px) rotate(-15deg);
  }
}
@keyframes fifth {
  0% {
    -webkit-transform: translateY(0) rotate(-5deg);
            transform: translateY(0) rotate(-5deg);
  }
  100% {
    -webkit-transform: translateY(-300px) rotate(-15deg);
            transform: translateY(-300px) rotate(-15deg);
  }
}
@-webkit-keyframes sixth {
  0% {
    -webkit-transform: translateY(0) rotate(-15deg);
            transform: translateY(0) rotate(-15deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translateY(500px) rotate(-45deg);
            transform: translateY(500px) rotate(-45deg);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
}
@keyframes sixth {
  0% {
    -webkit-transform: translateY(0) rotate(-15deg);
            transform: translateY(0) rotate(-15deg);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  100% {
    -webkit-transform: translateY(500px) rotate(-45deg);
            transform: translateY(500px) rotate(-45deg);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
}

section.categories {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
  background-color: white;
}
section.categories div.container {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: 1fr 2fr;
  grid-gap: calc(var(--gap) * 2);
}
@media (max-width: 960px) {
  section.categories div.container {
    grid-template-columns: 1fr;
  }
}
section.categories div.description {
  display: grid;
  grid-gap: var(--big-gap);
  justify-items: start;
}
section.categories div.list {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.categories div.list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 640px) {
  section.categories div.list {
    grid-template-columns: repeat(2, 1fr);
  }
}

section.about {
  padding-top: var(--section-gap);
  padding-bottom: var(--section-gap);
}
section.about div.container {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: 1fr 540px;
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.about div.container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 960px) {
  section.about div.container {
    grid-template-columns: 1fr;
  }
}
section.about div.about {
  display: grid;
  grid-gap: var(--big-gap);
}
section.about div.about div.title {
  display: grid;
  justify-items: start;
  grid-gap: var(--gap);
}
section.about div.about div.text div.accordion {
  display: grid;
  grid-gap: 10px;
}
section.about div.about div.text div.accordion div.accordion_caption {
  cursor: pointer;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-template-columns: auto -webkit-max-content;
  grid-template-columns: auto max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 5px;
  color: #048187;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
section.about div.about div.text div.accordion div.accordion_caption span.show {
  display: inline;
}
section.about div.about div.text div.accordion div.accordion_caption span.hide {
  display: none;
}
section.about div.about div.text div.accordion div.accordion_caption svg path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  stroke: #048187;
}
section.about div.about div.text div.accordion div.accordion_caption:hover {
  color: #069da5;
}
section.about div.about div.text div.accordion div.accordion_caption:hover svg path {
  stroke: #069da5;
}
section.about div.about div.text div.accordion.open div.accordion_caption span.show {
  display: none;
}
section.about div.about div.text div.accordion.open div.accordion_caption span.hide {
  display: inline;
}
section.about div.about div.text div.accordion.open div.accordion_caption svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
section.about div.about div.advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
}
@media (max-width: 1280px) {
  section.about div.about div.advantages {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
@media (max-width: 960px) {
  section.about div.about div.advantages {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (max-width: 640px) {
  section.about div.about div.advantages {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
section.about div.about div.advantages div.advantage {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: var(--gap);
  background-color: white;
  border-radius: 4px;
  padding: 20px;
}
section.about div.about div.advantages div.advantage svg {
  width: 50px;
  height: 50px;
}
section.about div.about div.advantages div.advantage svg path {
  stroke-width: 1px;
}
section.about div.about div.advantages div.advantage div {
  display: grid;
  grid-gap: 5px;
}
section.about div.about div.advantages div.advantage span {
  opacity: 0.7;
}
section.about div.contacts {
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-gap: var(--big-gap);
  margin-top: 66px;
}
@media (max-width: 960px) {
  section.about div.contacts {
    margin-top: var(--section-gap);
  }
}
section.about div.contacts div.adress {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: var(--gap);
}
section.about div.contacts div.adress svg {
  width: 90px;
  height: 90px;
}
@media (max-width: 960px) {
  section.about div.contacts div.adress svg {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 640px) {
  section.about div.contacts div.adress svg {
    width: 40px;
    height: 40px;
  }
}
section.about div.contacts div.adress svg path {
  stroke-width: 1px;
}
section.about div.contacts div.phone, section.about div.contacts div.email {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  grid-gap: var(--small-gap);
  padding-left: calc(90px + var(--gap));
}
@media (max-width: 960px) {
  section.about div.contacts div.phone, section.about div.contacts div.email {
    padding-left: calc(60px + var(--gap));
  }
}
@media (max-width: 640px) {
  section.about div.contacts div.phone, section.about div.contacts div.email {
    padding-left: calc(40px + var(--gap));
  }
}
section.about div.contacts div.phone svg, section.about div.contacts div.email svg {
  width: 40px;
  height: 40px;
}
@media (max-width: 640px) {
  section.about div.contacts div.phone svg, section.about div.contacts div.email svg {
    width: 30px;
    height: 30px;
  }
}
section.about div.contacts div.phone svg path, section.about div.contacts div.email svg path {
  stroke-width: 1.5px;
}
section.about div.contacts div.phone div, section.about div.contacts div.email div {
  display: grid;
}
section.about div.contacts div.phone div span, section.about div.contacts div.email div span {
  opacity: 0.7;
}
section.about div.contacts div.phone div a, section.about div.contacts div.email div a {
  font-size: 24px;
  line-height: 27px;
  font-weight: 600;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 960px) {
  section.about div.contacts div.phone div a, section.about div.contacts div.email div a {
    font-size: 20px;
  }
}
@media (max-width: 640px) {
  section.about div.contacts div.phone div a, section.about div.contacts div.email div a {
    font-size: 18px;
  }
}
section.about div.contacts div.phone div a:hover, section.about div.contacts div.email div a:hover {
  color: #048187;
}
section.about img.map {
  grid-column: 1/3;
  margin-top: calc(var(--section-gap) / 2 * -1);
  width: 100%;
}
@media (max-width: 960px) {
  section.about img.map {
    grid-column: 1/2;
    margin-top: unset;
  }
}/*# sourceMappingURL=index.css.map */