section.about
    div.container
        div.about
            div.title
                div.tag О компании
                h2 Здравствуйте, #[span дорогие друзья и клиенты!]
            div.text
                span Научно-производственный центр «Комэлектротех» — это предприятие с более чем пятнадцатилетней историей. Являясь официальным дилером ОАО «Электровыпрямитель», мы гарантируем высокое качество продукции. За время работы компания продолжает сотрудничать с крупнейшими предприятиями Российской Федерации.
                div.accordion
                    div.accordion_content
                        div.accordion_wrap
                            br
                            span Наши клиенты — крупные металлургические заводы, предприятия оборонно-промышленного комплекса, НИИ, ГОКи и т.д. Также НПЦ «Комэлектротех» особое внимание уделяет небольшим компаниям. Уже пятнадцать лет мы предлагаем тиристоры, диоды, охладители, резисторы, микросхемы и прочие электронные компоненты.
                    div.accordion_caption
                        span.show Узнать больше
                        span.hide Скрыть
                        include ../../../images/icons/Arrow.svg
            div.advantages
                div.advantage
                    include ../../../images/icons/Box.svg
                    div
                        strong 20 лет на рынке
                        span «Комэлектротех» — это предприятие с более чем 20-летней историей
                div.advantage
                    include ../../../images/icons/Box.svg
                    div
                        strong Отсрочка платежа
                        span Для предприятий предоставляется отсрочка платежа
            strong Приглашаем Вас к сотрудничеству!
        div.contacts
            div.adress
                include ../../../images/icons/Pin.svg
                h3 Осуществляем доставку удобным для вас способом по всей России
            div.phone
                include ../../../images/icons/Phone.svg
                div
                    span Телефон / Факс
                    a(href="tel:78342241536") +7 (8342) 24-15-36
            div.email
                include ../../../images/icons/Email.svg
                div
                    span Электронная почта
                    a(href="mailto:komelectrotex@mail.ru") komelectrotex@mail.ru
            
        img(src="images/map.svg", alt="").map