section.categories
    div.container

        div.description
            div.tag Каталог
            h3 силовые полупроводники, Радиодетали и прочая промышленная электроника
            span Правее представлены актуальные прайс-листы в формате (Excel). Скачайте прайс-лист с ценами на силовую электронику и прочей продукцией поставляемые нашей компанией.
            button
                include ../../../images/icons/Download.svg
                span Скачать прайс-лист

        div.list
            a(href="category.html").category_card
                img(src="images/categories/1.webp", alt="")
                div.title
                    h4 Диоды
            a(href="category.html").category_card
                img(src="images/categories/2.webp", alt="")
                div.title
                    h4 Диоды частотные
            a(href="category.html").category_card
                img(src="images/categories/3.webp", alt="")
                div.title
                    h4 Тиристоры
            a(href="category.html").category_card
                img(src="images/categories/4.webp", alt="")
                div.title
                    h4 Тиристоры быстро­действующие
            a(href="category.html").category_card
                img(src="images/categories/5.webp", alt="")
                div.title
                    h4 Диоды, тиристоры и симисторы на ток 10-80 ампер
            a(href="category.html").category_card
                img(src="images/categories/6.webp", alt="")
                div.title
                    h4 Модули, контакторы
            a(href="category.html").category_card
                img(src="images/categories/7.webp", alt="")
                div.title
                    h4 Охладители
            a(href="category.html").category_card
                img(src="images/categories/8.webp", alt="")
                div.title
                    h4 Складские остатки
