section.main

    h1 Продажа силовой #[span полупроводниковой] продукции, #[span радиодеталей] и прочей #[span промышленной электроники]

    form(action="search.html", tabindex="0").search
        input(type="search", name="search", placeholder="Поиск по каталогу")
        button: include ../../../images/icons/Search.svg

        div.results
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8
            a(href="product.html") Т151-100-8

    div.representative
        span Официальный представитель
        div.list
            a(href="index.html").underline Электровыпрямитель
            a(href="index.html").underline СЗТП
            a(href="index.html").underline Электрум АВ