include ../../elements/_mixins.pug

section.categories
    div.container
        div.list
            +category('Диоды', 'images/categories/1.webp')
            +category('Диоды частотные', 'images/categories/2.webp')
            +category('Тиристоры', 'images/categories/3.webp')
            +category('Тиристоры быстро­действующие', 'images/categories/4.webp')
            +category('Диоды, тиристоры и симисторы на ток 10-80 ампер', 'images/categories/5.webp')
            +category('Модули, контакторы', 'images/categories/6.webp')
            +category('Охладители', 'images/categories/7.webp')
            +category('Складские остатки', 'images/categories/8.webp')
