section.description
    div.container
        div.text
            h2 Каталог продукции
            span Научно-производственный центр «Комэлектротех» — это предприятие с более чем пятнадцатилетней историей. Являясь официальным дилером ОАО «Электровыпрямитель», мы гарантируем высокое качество продукции. За время работы компания продолжает сотрудничать с крупнейшими предприятиями Российской Федерации. 
        button
            include ../../../images/icons/Download.svg
            span Скачать прайс-лист