section.product
    div.container
        div.description
            div.main
        
                h2 Диод ДЧЛ133-200-16

                div.available
                    div.tick
                        include ../../../images/icons/Tick.svg
                    span В наличии

                div.text
                    span Диод частотный лавинный ДЧЛ133-200-16 - диод таблеточной конструкции общего назначения. Используется для преобразования постоянного и переменного тока, Itav: 200А до 1000А (в зависимости от выбранного исполнения) частотой до 2000 Гц в цепях с напряжением, Vrrm: от 1600В до 2200 В (в зависимости от выбранного исполнения).
                
                div.order
                    span.price 2 980 ₽
                    div.quantity
                        div.minus –
                        input(type="number", name="quantity", value="1", min="1", max="1000")
                        div.plus +
                    button(data-modal-target="get_order")
                        include ../../../images/icons/Buy.svg
                        span Купить

            div.additional
                div.specs
                    div 
                        span Напряжение, Vrrm
                        span 16
                    div 
                        span Тип полярности
                        span Прямая
                    div 
                        span Корпус диода
                        span Таблеточный
                    div 
                        span I fsm10ms, кA
                        span 4.80
                    div 
                        span U fm /Ifm, V/A
                        span 3.5/628
                    div 
                        span Trr, μs
                        span 1.6-2.5
                    div 
                        span Tjmax, C
                        span 150
                div.text
                    strong Ключевые особенности и область использования:
                    ul
                        li • Таблеточные металлокерамические корпуса с прижимными контактами;
                        li • Гарантированная максимальная мощность рассеивания в режиме лавинного пробоя;
                        li • Используются для электроприводов и двигателей переменного тока;
                        li • В системах неуправляемых и полууправляемых выпрямительных мостов;
                        li • Используются в конструкциях промышленного транспорта и т.д.

        img(src="images/product.webp", alt="").preview
        
        div.advantages
            div.advantage
                include ../../../images/icons/Box.svg
                div
                    strong Прямые поставки
                    span Прямые поставки от официальных прдставителей
            div.advantage
                include ../../../images/icons/Box.svg
                div
                    strong Доставка по РФ
                    span Курьерская доставка в любую точку Российской Федерации.
            div.advantage
                include ../../../images/icons/Box.svg
                div
                    strong Отсрочка платежа
                    span Для предприятий предоставляется отсрочка платежа