include ../../elements/_mixins.pug

section.similar
    div.container
        h3 Похожие товары
        div.list
            +product('Т373-1250-48', '1 973 ₽', false, 'images/product.webp')
            +product('Т183-2500-38', '2 612 ₽', true, 'images/product.webp')
            +product('Т183-2500-42', '2 280 ₽', true, 'images/empty.webp')
            +product('Т193-2500-36', 'по запросу', false, 'images/empty.webp')
            +product('Т193-2500-40', 'по запросу', false, 'images/product.webp')
            +product('Т393-2500-34', '2 612 ₽', false, 'images/product.webp')