include ../../elements/_mixins.pug

section.partners
    div.container
        h2 Поставщики и Партнеры
        div.list
            +partner('../../../images/partners/1.webp', 'ОАО "Электровыпрямитель"', 'ОАО "Электровыпрямитель"- крупнейший электротехнический завод в России. Являясь его официальным дилером, мы гарантируем качество и надежность, которым славится этот завод.')
            +partner('../../../images/partners/2.webp', 'Siemens', 'Компания «Сименс» работает в России по всем традиционным направлениям своей деятельности и является одним из ведущих поставщиков продукции, услуг и комплексных решений для модернизации ключевых отраслей экономики и инфраструктуры')
            +partner('../../../images/partners/3.webp', 'Semikron', 'единственный в Европе производитель интеллектуальных силовых модулей IGBT с током до 2400А.')
            +partner('../../../images/partners/4.webp', 'IXYS', 'Компания IXYS специализируется на производстве именно высококачественной силовой электроники для различных областей применения.')
            +partner('../../../images/partners/5.webp', 'Vishay', 'Vishay Intertechnology — международная компания, один из крупнейших поставщиков прецизионных дискретных полупроводниковых приборов и пассивных электронных компонентов в мире.')
            +partner('../../../images/partners/6.webp', 'Infenion', 'немецкая компания, крупный производитель микросхем для телекоммуникаций')