extends common/_layout.pug

block links
    link(rel="stylesheet", href="css/category.css")

block content
    include sections/category/_breadcrumbs.pug
    include sections/category/_description.pug
    include sections/category/_products.pug