dialog(data-modal-name="search")

    div.container

        form(action="search.html", tabindex="0").search
            input(type="search", name="search", placeholder="Поиск по каталогу")
            button: include ../../../images/icons/Search.svg

            div.results
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8
                a(href="product.html") Т151-100-8