section.textpage
    div.container
        h1 Как купить
        h2 Оформление заказа
        p Заказ можно оформить через онлайн форму на сайте, либо по телефону +7 (995) 301-28-09 или через электронную почту <a href="mailto:zakaz@soft-logistic.ru">zakaz@soft-logistic.ru</a>.
        br
        br
        b Минимальная сумма заказа: 10000 руб.
        br
        ul
            li Способ оплаты – безналичный расчёт.
            li Условия оплаты – 100% предоплата.
        h2 Доставка
        p Компания "<a href="https://soft-logistic.ru/">Софт-Логистик</a>" поставляет продукцию во все регионы России. <br>
        p Доставку осуществляем при помощи проверенных транспортных компаний РФ:<br>
        ul
            li ТК "Деловые Линии"
            li СДЭК
            li и других.
        p Продукцию отгружаем ежедневно по мере поступления и обработки заявок. К каждой партии прилагаем полный пакет сопроводительной документации: УПД (счёт-фактура + первичный документ), гарантию, паспорт на продукцию. Обеспечиваем сохранность груза на всём пути следования. Стоимость доставки рассчитывает транспортная компания. В формулу расчёта закладывается объём партии, вес товара и дальность доставки.
        h2 Реквизиты
        ul
            li Наименование: ООО "Софт-Логистик" 
            li Юридический адрес: 430006, РМ, г. Саранск, ул. 2-я Промышленная, 9 
            li ИНН: 1327031383 
            li КПП: 132701001 
            li ОГРН: 1171326008810 
            li Расчетный счет: 40702810739000003174 
            li Банк: МОРДОВСКОЕ ОТДЕЛЕНИЕ №8589 ПАО СБЕРБАНК 
            li Корр. счет банка: 30101810100000000615 
            li БИК Банка: 048952615