section.description
    div.container
        div.text
            h2 Тиристоры
            span Тиристоры — полупроводниковый прибор, выполненный на основе монокристалла полупроводника с тремя или более p-n-переходами и имеющий два устойчивых состояния: закрытое состояние, то есть состояние низкой проводимости, и открытое состояние, то есть состояние высокой проводимости.
            strong Производство ОАО «Электровыпрямитель»
        button
            include ../../../images/icons/Download.svg
            span Скачать прайс-лист